@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #050505;
  color: white;
  font-family: Inter, sans-serif;
  overscroll-behavior-y: none;
  overflow-x: hidden;
}

.glass-card{
@apply
bg-white/5
backdrop-blur-2xl
border
border-white/10
rounded-3xl
p-6
w-56
text-white;
}

.glass-card p{
@apply text-gray-400 text-sm mt-2;
}

.glass-card h3{
@apply mt-3 font-semibold text-lg;
}